<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uin.stoichiofyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.noActionBar">
        <activity
            android:name=".Trivia.subTrivia.SubTriviaActivity"
            android:exported="true" />
        <activity
            android:name=".Trivia.TriviaActivity"
            android:exported="true" />
        <activity
            android:name=".Latihan.ResultActivity"
            android:exported="true" />
        <activity
            android:name=".Latihan.LatihanActivity"
            android:exported="true" />
        <activity
            android:name=".Materi.bab.showBabActivity"
            android:exported="true" />
        <activity
            android:name=".Materi.bab.BabActivity"
            android:exported="true" />
        <activity
            android:name=".Materi.MateriActivity"
            android:exported="true" />
        <activity
            android:name=".ReferensiActivity"
            android:exported="true" />
        <activity
            android:name=".Peta.PetaKonsepActivity"
            android:exported="true" />
        <activity
            android:name=".AddActivity"
            android:exported="true" />
        <activity
            android:name=".AboutUs.AboutUsActivity"
            android:exported="true" />
        <activity
            android:name=".Profile.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Silabus.SilabusActivity"
            android:exported="true" />
        <activity
            android:name=".Trivia.subTrivia.SubTriviaActivityJava"
            android:exported="true" />
        <activity
            android:name=".PLO.PLOActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home.HomeActivity" />
        <activity android:name=".Sign.SignOut.SignOutActivity" />
        <activity android:name=".OnBoarding.OnBoardingTwoActivity" />
        <activity android:name=".OnBoarding.OnBoardingOneActivity" />
        <activity android:name=".Sign.SignIn.SignInActivity" />
        <activity android:name=".Sign.SignUp.SignUpActivity" />
        <activity android:name=".Sign.SignUp.SignUpConfirmationActivity" />
        <activity android:name=".Peta.PetaActivity" />
    </application>

</manifest>